{% comment %}
{% if page.grad_mentor %}
<section class="post-section">
  <h3>Graduate Student Mentor</h3>
  <p>
    {% if page.grad_mentor.linkedin %}
      <a href="{{ page.grad_mentor.linkedin }}" target="_blank">{{ page.grad_mentor.name }}</a>
    {% else %}
      {{ page.grad_mentor.name }}
    {% endif %}
  </p>
</section>
{% endif %}

{% if page.faculty_mentor %}
<section class="post-section">
  <h3>Faculty Mentor</h3>
  <p>
    {% if page.faculty_mentor.linkedin %}
      <a href="{{ page.faculty_mentor.linkedin }}" target="_blank">{{ page.faculty_mentor.name }}</a>
    {% else %}
      {{ page.faculty_mentor.name }}
    {% endif %}
  </p>
</section>
{% endif %}
{% endcomment %}
